@import "tailwindcss";

body {
  font-family: 'Inter Variable', sans-serif;
}

@theme {
  --color-primary: #EC4899;
  --color-input:#EBEBEB;
  --color-focus:#EC4899 ;
  --color-border-clr:#E5E7EB;
  --color-text-pr:oklch(0.592 0.249 0.584);
  --color-gradient-primary:#f6339a;
  --color-gradient-secondary:#9810fa;
  --color-text-sec:#1F2937 

}

/* Prevent blue tap highlight */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Optimize image rendering */
img {
  image-rendering: -webkit-optimize-contrast;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slideIn {
  animation: slideIn 0.25s ease-out forwards;
}
